


<h1>Account Login</h1>

<% if flash.has?(:login_error) %>
  <strong><%= flash[:login_error] %></strong>
<% end %>

<% if flash.has?(:logged_out) %>
  <strong><%= flash[:logged_out] %></strong>
<% end %>

<% if flash.has?(:please_login) %>
  <strong><%= flash[:please_login] %></strong>
<% end %>

<% if flash.has?(:create_error) %>
  <strong><%= flash[:create_error] %></strong>
<% end %>

<% if flash.has?(:delete_error) %>
  <strong><%= flash[:delete_error] %></strong>
<% end %>

<% if flash.has?(:login_to_edit) %>
  <strong><%= flash[:login_to_edit] %></strong>
<% end %>



<form method="POST" action="/login">

  <label><p>Username:</p><input type = "text" name="username" id="username"><br><br>
  <label><p>Password:</p><input type="text" name="password" id="password"><br><br>
  <input type="submit" value="submit">

</form>
