<h3>Welcome, <%= @user.username %></h3>

 <strong><p>Recent Airport Reviews</p></strong>

 <button onclick="location.href = '/reviews/new';" type="button">Create a Review</button><br>

 <% Helpers.flash_types.select {|type| flash.has?(type)}.each do |type| %>
   <div class="flash <%= type %>">
     <br><strong><%= flash[type] %></strong>
   </div>
<% end %>

<% @reviews.reverse.each do |review| %>
  <ul>
    <li><a href="/reviews/<%= review.id %>"><%= review.content %></a> <br> &nbsp &nbsp <em>posted on: <%= review.created_at %> by <%= User.find(review.user_id).username %></em></li> <br><br>
  </ul>
<% end %>
