<h1>Welcome, <%= @user.username %></h1>

 <p>Posted Reviews</p>

 <% if flash.has?(:wrong_user_delete) %>
   <strong><%= flash[:wrong_user_delete] %></strong>
 <% end %>

 <% if flash.has?(:success) %>
   <strong><%= flash[:success] %></strong>
 <% end %>

 <% if flash.has?(:review_created) %>
   <strong><%= flash[:review_created] %></strong>
 <% end %>

 <% if flash.has?(:wrong_user_edit) %>
   <strong><%= flash[:wrong_user_edit] %></strong>
 <% end %>

<% @reviews.each do |review| %>
<ul>
  <li><a href="/reviews/<%= review.id %>"><%= review.content %></a></li>
</ul>
<% end %>

<button onclick="location.href = '/reviews/new';" type="button">Create a Review</button>
