<h1>Welcome, <%= @user.username %></h1>

 <p>Posted Reviews</p>

 <% Helpers.flash_types.select {|type| flash.has?(type)}.each do |type| %>
   <div class="flash <%= type %>">
     <strong><%= flash[type] %></strong>
   </div>
<% end %>

<% @reviews.each do |review| %>
<ul>
  <li><a href="/reviews/<%= review.id %>"><%= review.content %></a></li>
</ul>
<% end %>

<button onclick="location.href = '/reviews/new';" type="button">Create a Review</button>
