
 <h5>Logged in as: <%= @user.username %> </h5>

 <h3>Recent Airport Reviews</h3>
<div>
 <button onclick="location.href = '/airports';" type="button"><span>My Airports</span></button> 
</div>
 
<div>
 <button onclick="location.href = '/reviews/new';" type="button"><span>Create</span></button> 
</div>
 
<div>
 <button onclick="location.href = '/logout';"><span>Logout</span></button>
</div><br>

<div>

  <% Helpers.flash_types.select {|type| flash.has?(type)}.each do |type| %>
    <div class="flash <%= type %>">
      <strong><%= flash[type] %></strong><br>
    </div>
  <% end %>

</div>

<hr>

<% @reviews.reverse.each do |review| %>

  <ul>

    <li><a href="/reviews/<%= review.id %>"><%= review.content %></a> <br> &nbsp &nbsp <em>posted on: <%= review.created_at.strftime("%A, %B %d, %Y") %> by <%= User.find(review.user_id).username %></em></li>

  </ul>

<% end %>
