<h3>Logged in as: <%= @user.username %> </h3>

<button onclick="location.href = '/airports';" type="button">View my Airports and Reviews</button><br>

 <h3>Recent Airport Reviews</h3>

 <button onclick="location.href = '/reviews/new';" type="button">Create a Review</button> &nbsp|&nbsp <button onclick="location.href = '/logout';">Logout</button>

 <% Helpers.flash_types.select {|type| flash.has?(type)}.each do |type| %>
   <div class="flash <%= type %>">
     <br><strong><%= flash[type] %></strong>
   </div>
<% end %>

<% @reviews.reverse.each do |review| %>
  <ul>
    <li><a href="/reviews/<%= review.id %>"><%= review.content %></a> <br> &nbsp &nbsp <em>posted on: <%= review.created_at.strftime("%A, %B %d, %Y") %> by <%= User.find(review.user_id).username %></em></li> <br><br>
  </ul>
<% end %>
