
<h3>Posted by <%= @user.username %> on <%= @review.created_at.strftime("%A, %B %d, %Y") %></h3><br>

<div>
  <%= @review.content %>
</div>

</br></br>

<button onclick="location.href = '/reviews';"><span>Back to Reviews</span></button>

<button onclick="location.href = '/reviews/<%= @review.id %>/edit';" type="button"><span>Edit Review</span></button>

<form method="POST" action="/reviews/<%= @review.id %>/delete">

   <button type="submit" value="Delete Review"><span>Delete Review</span></button>

</form>

<button onclick="location.href = '/logout';"><span>Logout</span></button>
