
<strong><em>Posted by <%= @user.username %> on <%= @review.created_at.strftime("%A, %B %d, %Y") %></em></strong><br><br>

<% Helpers.flash_types.select {|type| flash.has?(type)}.each do |type| %>
  <div class="flash <%= type %>">
    <br><strong><%= flash[type] %></strong><br><br>
  </div>
<% end %>

<%= @review.content %>

</br></br>

<button onclick="location.href = '/reviews';">Back to Reviews</button>

</br>

<button onclick="location.href = '/reviews/<%= @review.id %>/edit';" type="button">Edit Review</button>


</br>

<form method="POST" action="/reviews/<%= @review.id %>/delete">
  <input type="submit" value="Delete Review">
</form>

<button onclick="location.href = '/logout';">Logout</button>
