
<h3>Posted by <%= @user.username %> on <%= @review.created_at.strftime("%A, %B %d, %Y") %></h3><br>

<% Helpers.flash_types.select {|type| flash.has?(type)}.each do |type| %>
  <div class="flash <%= type %>">
    <br><strong><%= flash[type] %></strong><br><br>
  </div>
<% end %>
<div>
  <%= @review.content %>
</div>

</br></br>


<form method="POST" action="/reviews/<%= @review.id %>/delete">

  <button onclick="location.href = '/reviews';">Back to Reviews</button> &nbsp|&nbsp <button onclick="location.href = '/reviews/<%= @review.id %>/edit';" type="button">Edit Review</button> &nbsp|&nbsp <input type="submit" value="Delete Review"> &nbsp|&nbsp <button onclick="location.href = '/logout';">Logout</button>

</form>
